
@use '../../styles/colors.scss';
@use '../../styles/configs.scss';

.header {
    width: 100%;
    background-color: colors.$purple;
    justify-content: space-around ;
    justify-items: center;
    display: flex;
    padding: configs.$space-2;
    font-size: 1.2em;
    color: colors.$light-gray;
    font-weight: bold;

    ul {
        display: flex;

        li {
            padding: 0 8px;
            border-right: 1px colors.$light-gray solid;
            cursor: pointer;
        }
        li:last-child {
            border-right: none;
        }

    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        
        i {
            font-size: 30px;
            margin-right: 12px;
        }
    }
}