@use "colors";
@use "configs";
@use "mixins";
 
.text { 
    width: 100%;
    text-align: center;
    justify-content: center ;
    justify-items: center;
    display: grid;
    padding: configs.$space-3;
    font-size: 1em;
    color: colors.$light-gray;

    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }

    h3 {
      font-size: 1.1em;
      font-weight: bold;
    }
}

.content {
  width: 1300px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

@media only screen and (max-width: 720px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }
}
