@use "../../styles/colors.scss";
@use "../../styles/configs.scss";

.recommendation {
  display: flex;
  width: 100%;
  background-color: colors.$medium-gray;
  border-radius: configs.$space-1;
  padding: configs.$space-2;
  align-items: stretch;
  margin-bottom: configs.$space-1;

  img {
    border: 1px solid colors.$medium-gray;
  }

  .image {
    flex-grow: 1;
  }
  .text {
    flex-grow: 8;
    font-size: 1em;
    color: colors.$light-gray;
    padding-left: configs.$space-2;
    padding-right: configs.$space-2;

    .genres {
        display: flex;
        margin-bottom: configs.$space-2;
    }

    ul {
        display: flex;
    }

    ul li {
        padding: 0 5px;
        border-right: 1px solid colors.$light-gray;
    }
    ul li:last-child {
        border-right: none;
    }

    h4 {
        font-weight: bold;
        font-size: 1.3em;
    }

    span {
        font-weight: bold;
    }

    small {
        font-size: 0.8;
    }
  }

  .video {
    flex-grow: 1;
    width: 400px;
  }


  .streaming {
    padding-left: configs.$space-2;
    padding-right: configs.$space-2;
    margin-top: configs.$space-2;
  }
}